<div class="typesDemo row">
    <div class="col-md-12">
        <div class="row">
            <div ng-repeat="list in $ctrl.lists" class="col-md-2">
                <div class="panel panel-info">
                    <div class="panel-heading">
                        <h3 class="panel-title">
                            <div ng-if="list.max > - 1">
                                {{list.label}} (max. {{list.max}})
                            </div>
                            <div ng-if="list.max < 0">
                                {{list.label}}
                            </div>
                        </h3>
                    </div>
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-md-12">
                                <!-- The dnd-list directive allows to drop elements into it.
                                        The dropped data will be added to the referenced list -->
                                <ul dnd-list="list.items" 
                                dnd-allowed-types="list.allowedTypes" 
                                dnd-disable-if="list.items.length >= list.max"
                                dnd-drop="$ctrl.dropCallback(list, index, item, external, type)"
                                dnd-inserted="$ctrl.onInserted('inserted at', list, index, external, type)"
                                class="itemlist">

                                    <li ng-repeat="tool in list.items" 
                                    dnd-draggable="tool" 
                                    dnd-type="tool.type" 
                                    dnd-disable-if="tool.type == 'unknown'" 
                                    dnd-effect-allowed="{{tool.effectAllowed}}"                                    
                                    dnd-moved="$ctrl.updateModelJson(list, $index);"
                                        class="itemlist">
                                        <dnd-nodrag>                                            
                                            <div class="row">
                                                <div class="col-md-1">
                                                    <div dnd-handle class="handle"><span class="{{tool.icon}}"></span></div>
                                                </div>
                                                <div class="col-md-6">
                                                    <div ng-if="tool.index > -1">
                                                        <input type="text" ng-model="tool.name" class="background-{{tool.type}} form-control input-sm">
                                                    </div>
                                                    <div ng-if="tool.index < 0">
                                                        <label class="background-{{tool.type}} input-sm">{{tool.name}}</label>
                                                    </div>
                                                </div>
                                                <div class="col-md-1" ng-if="tool.index > -1">
                                                    <span class="badge index">{{tool.index}}</span>
                                                </div>                                                
                                            </div>
                                        </dnd-nodrag>
                                        </li>
                                        <li class="dndPlaceholder">
                                            Drop any <strong>{{list.allowedTypes.join(' or ')}}</strong> here
                                        </li>
                                </ul>
                            </div>
                            <!-- Delete me -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Generated Model</h3>
            </div>
            <div class="panel-body">
                <pre class="code">{{$ctrl.modelAsJson}}</pre>
            </div>
        </div>
    </div>
</div>
