<header class="navbar navbar-inverse navbar-fixed-top ani-nav" role="banner">
    <div class="navbar-header">
        <a href="https://github.com/LatinWarrior/drag-and-drop" class="navbar-brand">El Demo</a>
    </div>
    <div class="navbar-collapse collapse">
        <nav class="navbar-logo">
            <ul class="nav navbar-nav">
                <li><a ui-sref="simple" ui-sref-active="active">Simple</a></li>
                <li><a ui-sref="nested" ui-sref-active="active">Nested</a></li>
                <li><a ui-sref="types" ui-sref-active="active">Types</a></li>                
            </ul>
        </nav>
    </div>
</header>